* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --dGreen: #50806B;
  --lGreen: #E8EDDE;
  --red: #D11F1F;
  --grey: #7C8087;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Poppins", serif;
  font-style: normal;
}