.fundraiser-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donation-form {
    display: flex;
    justify-content: center;
    align-items: center;
}


#donationAmount {
    height: 30px;
    border-radius: 10px;
    margin: 10px;
}



.btn-style {
    height: 40px;
    width: 250px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(196, 222, 223);
}

.support-art {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}