

.best-selling {
   

}

.cards-best-selling {
   
}

.shop-all {
    font-family: Poppins;
font-size: 30px;
font-weight: 400;
line-height: 21.7px;
text-align: right;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.shop-now {
    width: 350px;
height: 420px;
padding: 20px 0px 0px 0px;
gap: 16px;
border-radius: 16px 0px 0px 0px;
opacity: 0px;
cursor: pointer;

}

.shop-now:hover {
    background-color: #cbdccc;
  }