.btn {
    display: inline-block;
    font-weight: 600;

}

.white-btn {
    color: black;
    background-color: white;
    border-radius: 20px;
    font-size: 22px;
    text-transform: uppercase;
    width: 262px;
    height: 70px;
    line-height: 70px;
    border: solid 2px white;
} 

.white-btn:hover {
    background-color: #cbdccc;
  }

.green-btn{
    max-width: 344px;
    height: 64px;
    background: #50806B;
    color: var(--white);
    box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 8px;
    font-size: 20px;
    margin-top: auto;
}



 .button {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: all 0.3s;
}
 
.button:hover{
    background-color: var(--green);
    color: var(--white);
}
 
.white-btn{
    color: var(--black);
    background-color: var(--white);
    width: 262px;
    height: 70px;
    border-radius: 20px;
    font-size: 22px;
    text-transform: uppercase;
}
 
.green-btn{
    max-width: 344px;
    height: 64px;
    background: #50806B;
    color: white;
    box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 8px;
    font-size: 20px;
    margin-top: auto;
}