/* Sample styling for the header */

.header-bg {
  min-height: 60px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
   
  }

  .header-links {
    width: 40%;
    display: flex;
    justify-content: space-between;

  }

  .header-links a {
    color: black;
    font-weight: 400;
    font-size: 17px;
    transition: all .3s ease-in-out;
  }

  .header-links a:hover {
    color: var(--dGreen);
    text-shadow: 2px 2px 1px #508065;
  }

  .header-links a.active {
    color: var(--dGreen);
    text-shadow: 2px 2px 1px #508065;
  }
  /* .header-right {

  } */

  .shopcart {
    padding: 0 25px;
    position: relative;
    height: 100%;
    display: inline-block;
    /* border-left: 1px solid var(--grey); */
}
 
.shopcart::before {
    content: "";
    height: 46px;
    width: 1px;
    background-color: var(--grey);
    position: absolute;
    left: 0;
    top: -10px;
}
 
.shopcart img {
    margin-right: 5px;
}