
    .hero {
      width: 100%;
      position: relative;
      background-color: #f1f9f1;
      min-height: 710px;
      z-index: 1;
      overflow: hidden;
    }
    
    .bg-plants {
      min-height: inherit;
    }

    
    .plant-left, .plant-right {
      position: absolute;
      bottom: 0;
   
      object-fit: contain;
      z-index: 0; 
    }
    
    .plant-left {
      left: 0%;
      rotate: -270DEG; 
    }
    
    .plant-right {
      right: 0%; 
    }
    
    .hero-mid {
      min-height: inherit;
      max-width: 594px;
      margin: 0 auto;
      background: rgba(80, 128, 107, 0.2);
      backdrop-filter: blur(20px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

    }
    
    .hero-mid img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ensure background covers the area */
    }
    
    .hero-content {
      position: relative;
      z-index: 2; /* Ensure content is above the background */
      text-align: center;
      padding: 0 20px;
    }
    
    .hero-title {
      font-size: 80px;
      font-weight: 600;
      color: black;
      letter-spacing: 0.03em;
    }
    
    .hero-description {
      font-size: 22px;
      line-height: 1.5;
      font-weight: 400;
      margin: 15px 0 38px 0;
      color: black;
    }
    
    
    .border {
      position: absolute;
      bottom: 0; 
      width: 100%; 
      height: 45px; 
      background-color: var(--dGreen);
      /* color: #50806B; */
    }
    