

     .hero {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f1f9f1;
      min-height: 100vh; /* Make sure it fills the screen */
      z-index: 1;
      overflow: hidden; /* Prevent overflow */
    }
    
    .bg-plants {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0; /* Plants are behind the BG and text */
    }
    
    .plant-left, .plant-right {
      position: absolute;
      bottom: 0;
   
      object-fit: contain;
      z-index: 0; 
    }
    
    .plant-left {
      left: 0%; 
    }
    
    .plant-right {
      right: 0%; 
    }
    
    .BG {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Center the background image */
      z-index: 1; /* BG is above the plants */
      width: 60%; /* Adjust width as needed */
      height: 100%;
    }
    
    .BG img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ensure background covers the area */
    }
    
    .hero-content {
      position: relative;
      z-index: 2; /* Ensure content is above the background */
      text-align: center;
      padding: 0 20px;
    }
    
    .hero-title {
      font-size: 3rem;
      font-weight: 700;
      color: black;
    }
    
    .hero-description {
      font-size: 1.25rem;
      margin-top: 15px;
      color: black;
    }
    
    .hero-btn {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: white;
      color: black;
      font-size: 1.1rem;
      border: solid #a6b7a7;
      cursor: pointer;
      border-radius: 5px;
    }
    
    .hero-btn:hover {
      background-color: #cbdccc;
    }
    
    .border {
      position: absolute;
      bottom: 0; 
      width: 100%; 
      height: 45px; 
      background-color: var(--dGreen);
      /* color: #50806B; */
    }
    