.plant-card {
    padding: 20px;
    width: 282px;
    height: 418.5px;
    background: #ffffff;
    box-shadow: 0px 8px 23px rgb(80, 107, 82,0.13);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.img-box {
    position: reletive;
    text-align: center;
}

.discount-block {
    position: absolute;
    color: #ffffff;
    /* background-image:url(../img/plants/discount-bg.svg); */
    background-image: url(../img/plants/discount-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    right: 0;
    top: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.card-text {
    margin: 16px 0;

}

.plant-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;

}

.plant-price, discounted-price {
    font-weight: 400;
    font-size: 20px;

}

.plant-img {
    width: auto;
    max-height: 219px;
    border-radius: 8px;
}

.red-price {
    font-sice: 16px;
    color: var(--red);
    text-decoration-line: line-through;
    padding-left: 10px;
}





