.testimonials-card {
    background-color: var(--white);
    padding: 32px 30px 28px 30px;
    max-width: 340px;
    box-shadow: 0px 4px 24px rgba(139, 167, 178, 0.16);
    border-radius: 6px;
    width: 100%;

}

.test-card-text{
    width: 88%;
    margin: 0 auto;
}

.test-client-text {
    font-size: 22px;
    line-height: 29px;
    margin: 20px 0 6px 0;
}

.test-client-name {
    font-size: 18px;
    line-height: 27px;
    color:#7C8087;
    font-weight: 400;
}

.star {
    font-size: 24px;
    color: lightgray;
}

.star.full {
    color: var(--green);
}

.star.half{
    color: var(--green);
    background: linear-gradient(to right, var(--green) 50%, lightgray 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}