.title-box {
    padding: 32px 0;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionTitle {
    color: var(--black);
    font-weight: 600;
    font-size: 56px;
   
}
 
.greenTitle{
    color: var(--green);
}
 
.title-link {
    color: var(--black);
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}
 
.title-link:hover{
    color: var(--dGreen);
    text-shadow: 2px 2px 1px rgba(80,128,107,0.5);
}
 

