body {
    background-color: coral;
}

.container {
    width: 100%;
}

.column {
    width: 30%;
    float: left;
    margin: 1.5%;
}

.image {
    width: 100%;
} 

.card {
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.price {
    color: green;
}