.circle {
    width: 120px;
    height: 120px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    text-align: center;
}

.circle-small {
    width: 20px;
    height: 20px;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 1.2em;
    text-align: center;
}

.circle-background-blue {
    background-color: blue;
}

.circle-background-red {
    background-color: red;
}

.circle-background-green {
    background-color: green;
}

.circle-background-yellow {
    background-color: yellow;
}


#task4, #task5, #task6, .task7-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#animalsSection {
    display: flex;
    flex-wrap: wrap;
}
