.task4{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    div{
        margin-right: 10px;
    }
}

.task5{
    display: flex;
    flex-wrap: wrap;
    div{
        margin-right: 10px;
    }
}

.task6{
    display: flex;
    flex-wrap: wrap;
    div{
        text-align: center;
        margin-right: 10px;
    }
}

.task7{
    // display: flex;
    // flex-wrap: wrap;
    span{
        margin-right: 10px;
        margin-top: 10px;
    }
}