* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightViolet: #9A54BC;
    --midViolet: #60267F;
    --darkViolet: #2B0236;    
}

body {
    font-family: "Roboto";
}

h2 {
    font-size: 36px;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.purpleLine {
    width: 100%;
    height: 20px;
    background-color: #60267F;
    color: white;
    text-align: center;
    font-size: 12px;
}

.purpleLine a {
    color: white;
}

.mainHeader {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: rgba(220, 220, 220, 0.227) 3px solid;
}
.navigationContainer {
    gap: 20px;
}

.navigationContainer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navigationContainer nav ul li{
    list-style: none;
    font-size: 14px;
}

.navigationContainer nav ul li a {
    text-decoration: none;
    font-weight: 700;
}

.navigationContainer nav ul li a :hover {
    color: #a60505
}

.headerBtn {
    padding: 5px 10px;
    background-color: transparent;
    border: #9A54BC solid 2px;
    border-radius: 3px;
    font-size: 12px;
    color: #9A54BC;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
} 

.headerBtn:hover {
    background-color: #9A54BC;
    color: white;
}

.sectionOneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    flex-direction: column;
    gap: 30px;
}

.sectionOneText {
    font-size: 36px;
    text-align: center;
    color: #2B0236;
}

.sectionOneBtn {
    padding: 20px 30px;
    background-color: var(--lightViolet);
    border: var(--lightViolet)1px solid;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sectionOneBtn:hover {
    background-color: white;
    color: var(--lightViolet);
    box-shadow: 0px 4.4px 8.8px 0px #0000001A;
}

.sectionTwoEllipseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 200px;
}

.absolute {
    position: absolute;
}

.smallEllipse {
    top:-170px;
}
.rectangle {
    top: -160px;
}
.ellipselogo {
    top: -50px;
}
.elipseBtn {
    padding: 7px 12px;
    background-color: white;
    color: var(--midViolet);
    border: 2px solid var(--lightViolet);
    border-radius: 3px;
    font-size: 10px;
    top: 130px;
    cursor: pointer;
}

.elipseBtn:hover {
    color: white;
    background-color: var(--midViolet);
}

.logoImg {
    font-size: 50px;
    color: #a60505;
}

.elipseBtn:hover {
    color: white;
    background-color: var(--midViolet);
}

.iconsContainer {
    width: 100%;
    margin-top: 300px;
    flex-direction: column;
    gap: 50px;
}

.iconsContainer h2 {
    font-size: 36px;
}

.icons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.icons img {
    width: 100px;
}

.howDoesCollabHelpContainer {
    margin-top: 150px;
    flex-direction: column;
    gap: 50px;
}

.textAndImgContainer {
    width: 75%;
    height: 400px;
}

.textContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 50px;
    
}
.ancorContainer {
    width: 100%;
    height: 50px;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    box-shadow: 0px 3.96px 5.28px 0px #00000017;
    border-radius: 5px;
}

.ancorContainer a {
    text-decoration: none;
    width: 50%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px; 
}

.ancorContainer a :hover {
    background-color: var(--midViolet);
    border: 2px solid var(--lightViolet);
    color: white;
}


.paraContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.textContainerParagraf {
    background-color: #F2F2F2;
    max-width: 500px;
    padding: 20px 10px;
}

.textContainerParagraf span {
    font-size: 14px;
    font-weight: 500;
}

.imgContainer {
    width: 50%;
}

.imgContainer img {
    margin-top: 220px;
    width: 320px;
}

.fastestSafestContainer {
    flex-direction: column;
    margin-top: 350px;
    gap: 40px;
    width: 100%;
}

.fastestSafestContainer p {
    width: 60%;
    text-align: center;
}

.collabProjectsDoneContainer {
    gap: 80px;
    margin-top: 150px;
    flex-direction: column;
}

.projectsDoneContainer {
    gap: 120px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
}

.card img {
    width: 300px;
}

.card span {
    color: var(--midViolet);
}

.card span>p {
    padding: 0 10px;
}

.readyToStartContainer {
    flex-direction: column;
    margin-top: 250px;
}

.readyToStartContainerPara {
    margin-top: 10px;
    color: #A79D9D;
    font-size: 16px;
}

.monthlyContainer {
    margin-top: 30px;
    gap: 10px;
}

.monthly {
    font-size: 14px;
    color: #A79D9D;
}

.yearly {
    font-size: 14px;
    font-weight: 500;
}

.monthlyContainer span {
    font-size: 12px;
    background-color: #FFE87A;
    padding: 2px;
    border-radius: 3px;
}

.bigCardsContainer {
    margin-top: 100px;
    gap: 30px;
    width: 100%;
}

.bigCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    border: 1px solid gainsboro;
    height: 500px;
    padding: 30px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.bigCard p {
    font-weight: 500;
}

.bigCard button {
    background-color: white;
    padding: 15px 30px;
    color: var(--darkViolet);
    border: 2px solid var(--darkViolet);
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.bigCard ul li {
    margin-top: 5px;
}

.bigCard ul li::marker {
    content: "►";
}

.bigCard:hover {
    background-color: #56E6A5;
    cursor: grab;
}

.bigCardsContainer .bigCard .bigCardLastPara {
    font-size: 12px;
    font-weight: 300;
}

.bigCard button:hover {
    background-color: var(--darkViolet);
    color: white;
}

.feedback {
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: normal;
   
}

.background {
    width: 100%;
    position: absolute;
    position: relative;
}

.part1 {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 50%;
    margin-bottom: 250px;
    column-gap: 15px;
    position: absolute;
    left: 20%;   
}

.part2 {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 3rem;
    width: 90%;
    flex-wrap: wrap;
    position: absolute;
    padding: 10%;   
}

.part3 {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 250px;
    column-gap: 15px;
    position: absolute;
    left: 20%;   
}
  