.mainHeader {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: rgba(220, 220, 220, 0.227) 3px solid;
    flex-direction: column;
}

.firstHeader {
    display: inline-flex;
}

.navigationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navigationContainer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navigationContainer nav ul li{
    list-style: none;
    font-size: 14px;
}

.navigationContainer nav ul li a {
    text-decoration: none;
    font-weight: 700;
}

.secondHeader {
    display: flex;
    flex-direction: row;
}

.headerTextContainer {
    display: flex;
}

.illiustrationContainer {

}

.headerText h1 {
    width: 427px;
    height: 112px;
    top: 283px;
    left: 190px;
    gap: 0px;
    opacity: 0;
    color: #000000;
    text-align: left;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headerText p {
    width: 445px;
    height: 96px;
    top: 420px;
    left: 190px;
    gap: 0px;
    opacity: 0px;
    color: #7D7987;
    text-align: left;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headerBtn {
    width: 200px;
    height: 56px;
    top: 564px;
    left: 190px;
    gap: 0px;
    border-radius: 55px;
    opacity: 0px;
    background-color:#458FF6;
    color: white;
    border: none;
    cursor: pointer;
    
}

.headerBtn:hover {
    background-color: pink;
    color: #000000;
}

.text {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.text p {
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7D7987;
}

.text h2 {
    color: #000000;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
    margin-bottom: 69px;
}

.our-servises {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../big element.svg") url("../element.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.our-servises .text {
    display: flex;

}

.our-servises .text p {
    text-align: center;
    justify-content: flex-start;
    width: 952px;
}

.servises {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("./images/bg\ element.svg");
    position: relative;
}

 .servises-img {
    position: absolute;
    top: right;
    
 }

.box {
    padding: 15px;
    margin: 15px;
    width: 285px;
    height: 240px;
    border: solid black;
    border-radius: 20px;
    background: #FFFFFF;
    display: inline-block;
    text-align: left;
}

.box h3 {
    color: #000000;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.box p {
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7D7987;
}

.box div {
   
}

.our-servises-Btn  {
    width: 200px;
    height: 56px;
    top: 564px;
    left: 190px;
    gap: 0px;
    border-radius: 55px;
    opacity: 0px;
    background-color:#458FF6;
    color: white;
    border: none;
    cursor: pointer;
}

 .our-servises-Btn:hover {
    background-color: pink;
    color: #000000;
 }