.mainHeader {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: rgba(220, 220, 220, 0.227) 3px solid;
    flex-direction: column;
}

.firstHeader {
    display: inline-flex;
}

.navigationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navigationContainer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navigationContainer nav ul li{
    list-style: none;
    font-size: 14px;
}

.navigationContainer nav ul li a {
    text-decoration: none;
    font-weight: 700;
}

.secondHeader {
    display: flex;
    flex-direction: row;
}

.headerTextContainer {
    display: flex;
}

.headerText {
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headerText .h1 {
    width: 427px;
    height: 112px;
    top: 283px;
    left: 190px;
    gap: 0px;
    opacity: 0;
    color: #000000;
    text-align: left;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headerText p {
    width: 445px;
    height: 96px;
    top: 420px;
    left: 190px;
    gap: 0px;
    opacity: 0px;
    color: #7D7987;
    text-align: left;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headerBtn {
    width: 200px;
    height: 56px;
    top: 564px;
    left: 190px;
    gap: 0px;
    border-radius: 55px;
    opacity: 0px;
    background-color:#458FF6;
    color: white;
    border: none;
    cursor: pointer;
    
}

.headerBtn:hover {
    background-color: pink;
    color: #000000;
}

.text {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.text p {
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7D7987;
}

.text h2 {
    color: #000000;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
    margin-bottom: 69px;
}

.our-servises {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../big element.svg") url("../element.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.our-servises .text {
    display: flex;

}

.our-servises .text p {
    text-align: center;
    justify-content: flex-start;
    width: 952px;
}

.servises {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("./images/bg\ element.svg");
    position: relative;
}

 .servises-img {
    position: absolute;
    right: 6rem;
 }

.box {
    padding: 15px;
    margin: 15px;
    width: 285px;
    height: 240px;
    border: none;
    border-radius: 20px;
    background: #FFFFFF;
    display: inline-block;
    text-align: left;
}

.box h3 {
    color: #000000;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.box p {
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7D7987;
}


.our-servises-Btn  {
    width: 200px;
    height: 56px;
    top: 564px;
    left: 190px;
    gap: 0px;
    border-radius: 55px;
    opacity: 0px;
    background-color:#458FF6;
    color: white;
    border: none;
    cursor: pointer;
}

 .our-servises-Btn:hover {
    background-color: pink;
    color: #000000;
 }

 .leading-healthcare-providers {
    flex-direction: row;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 1273px;
    height: 477px;
    top: 2318px;
    left: 135px;
    gap: 0px;
    opacity: 0px;
 }

 .lgp-text {
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .trafalgar-illustration {
    width: 650px;
    height: 477px;
    top: 2318px;
    left: 135px;
    gap: 0px;
    opacity: 0px;

 }

 .lgp-text {
    display: inline-block;
    text-align: left;

 }

 .lgp-text h3 {
    color: #000000;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .lgp-text p {
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7D7987
 }

 .lgp-text-Btn {
    width: 200px;
    height: 56px;
    top: 564px;
    left: 190px;
    gap: 0px;
    border-radius: 55px;
    opacity: 0px;
    background-color:#458FF6;
    color: white;
    border: none;
    cursor: pointer;
 }

 .lgp-text-Btn:hover {
    background-color: pink;
    color: #000000;
 }

 .download-our-mobile-apps {
    flex-direction: row;
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 1273px;
    height: 477px;
    top: 2318px;
    left: 135px;
    gap: 0px;
    opacity: 0px;
 }

 .doma-text {
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .doma-text-Btn {
    width: 200px;
    height: 56px;
    top: 564px;
    left: 190px;
    gap: 0px;
    border-radius: 55px;
    opacity: 0px;
    background-color:#458FF6;
    color: white;
    border: none;
    cursor: pointer;
 }

 .doma-text-Btn:hover:hover {
    background-color: pink;
    color: #000000;
 }

 .testimonials {
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: white;
    flex-direction: column;

 }

 .testemonials-Container {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 320px;
    background: #458FF6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
 }


 .testimonials-Head {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 55%;
    margin-bottom: 70px;
    column-gap: 10px;
       
 }

 .testimonials-Expierens {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 3rem;
    width: 80%;
    flex-wrap: wrap; 
    padding: 13%;    
 }

 .Arrow {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 /* .slider {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    width: 100%;
    display: flex;
    display: none;
    cursor: pointer;
    transition: all 0.4s;
}

.slider .slider-controls {
    width: 100%;
    display: flex;
    justify-content: center;
} */

.Check-Out-Container {
    flex-direction: column;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/elementsecond.svg);
}

.Check-Out-Title {
    margin-top: 10px;
}

.Cards-Container {
    margin-top: 100px;
    gap: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {

}

.card-Img {
    border-radius: 5%;
}

.rmore {
    color: #458FF6 ;
}

.rmore::marker {
    content:"vector"
}

.wiew-All {
    background-color: lightgrey;
    padding: 15px 40px;
    color: #458FF6 ;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}

.wiew-All:hover {
    background-color: white;
    cursor: grab;
}

 