body {
    background-color: black;
}

.header-background {
    background-image: url("../images/laundry-saloon-567951_1920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    max-height: 6rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
   -1px -1px 0 #000;
   font-size: 1rem;
   text-transform: uppercase;
}

.nav-list li a:hover {
    color: pink;
}
.nav-list li a img {
    width: 1rem;
    height: 1rem;
}

.better-place {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    
}

.better-place h3 {
    text-transform: uppercase;
}

.better-place h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.view-location-icon {
    width: 1rem;
    height: 1rem;

}

.location-Btn {
    border-radius: 40px;
    height: 2rem;
    width: 10rem;
}

.location-Btn:hover {
    background-color: aquamarine;
}




