* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.mainContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.counterAppContainer {
    background-color: #005490;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.counterAppContainer h1 {
    color: white;
    font-size: 2rem;

}

.counterAppContainer span {}

.count {
    font-size: 1.5rem;
    color: white;
}

hr {
    width: 90%;
}

button {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    /* ???????????????? */
}

.buttonsContainer {
    display: flex;
    gap: 15px;

}

.subtract {
    background-color: orangered;
    color: white;
}

.reset {
    background-color: white;
    color: darkred;
}

.add {
    background-color: greenyellow;
    color: darkslateblue;
}