* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

p {
    position: absolute;
    top: 650px;
    font-size: 2rem;
    width: 800px;
    text-wrap: wrap;
    height: 100px;
    overflow: auto;
}

button {
    position: absolute;
    padding: 80px 40px;
    cursor: pointer;
    border: none;
    opacity: 0;
}