


  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Poppins", serif;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background: url('img/bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh; 
}

#pasture {
  display: flex;
  justify-content: space-between; 
  padding: 10px;
  background-color: transparent;
  flex-wrap: wrap; 
}

.side {
  width: 30%; 
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(60, 151, 60, 0.793);
  cursor: pointer;
  margin-bottom: 10px;

  
}

.side:hover {
  background-color: rgba(137, 196, 153, 0.805);
}

h2 {
  margin-bottom: 10px;
  color: white;
}

.animal-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  justify-content: center;
}

.animal {
  margin: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-basis: calc(33% - 20px);
}

.animal:hover {
  transform: scale(1.1);
}

img {
  border: 3px solid grey;
  border-radius: 15px;
  box-shadow: 10px 10px 5px gray;
}

.animal img {
  width: 50px; 
  height: 50px; 
  margin-bottom: 10px;
  
}

.animal img:hover {
  transform: scale(1.1);
}


#clean-pasture {
  padding: 10px 15px;
  font-size: 16px;
  background-color: darkgreen;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

#clean-pasture:hover {
  background-color: green;
}

#delete-animals {
  padding: 10px 15px;
  font-size: 16px;
  background-color: darkred;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

#delete-animals:hover {
  background-color: red;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: darkgreen;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

img {
  cursor: pointer;
}
 












    
     