body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.task-container {
    margin-bottom: 20px;
    font-size: 14px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.red-circle {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.blue-circle {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}
